<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <title>Todo App</title>
</head>
<body>
    <h1 class="text-3xl font-bold text-center bg-blue-300 text-gray-700">Todo App</h1>
    <div id="root"></div>
    <script type="text/javascript" src="{% static 'js/bundle.js' %}" ></script>
    <!-- {% csrf_token %} -->
</body>
</html>